.spinner-m {
  position: absolute;
  top: 35vh;
  left: 25vw;
  width: 50vw;
}

.spinner-m .icon {
  position: relative;
  left: 10vw;
  width: 30vw;
  height: 30vw;
}

.spinner-m span {
  font-size: 4em;
  line-height: 30vw;
}

.section-root {
  min-height: 90vh;
}

.section-about {
  height: 100vh;
  padding-left: 60px;
}

.row-divider {
  margin: 0px;
}

.nav-gradient {
  /* background-image: linear-gradient(180deg, #34333c 0%, #4b535f 100%); */
  background-image: linear-gradient(-180deg, #e3e3e3 0%, #ffffff 100%);
}

.sidenav-list {
  padding-top: 10px;
  margin-top: 10px;
}

.btn-create {
  margin-top: 100px;
}

.color-1 {
  background-color: #6e7985;
}

.text-color-1 {
  color: #6e7985;
}

.motto {
  font-size: 2.4em;
  font-stretch: expanded;
  font-weight: bold;
  margin-top: 5vh;
  padding-top: 2vh;
  padding-bottom: 10vh;
}

.motto span {
  letter-spacing: 0.21em;
  font-size: 1.1em;
}

.btn-demo {
  height: 8vh;
  width: 60vw;
  line-height: 8vh;
  font-size: 1.4em;
  border-radius: 30px;
}

.edit-header {
  height: 70px;
  width: 100%;
  padding-top: 10px;
}

.edit-title {
  font-weight: bold;
}

.edit-content {
  border-top: 1px solid #edebeb;
  border-bottom: 1px solid #edebeb;
  padding-bottom: 20px;
}

.edit-name {
  font-size: 1.6em;
}

.edit-headline {
  font-size: 1.2em;
  font-weight: bold;
}

.edit-questions {
  margin-top: 20px;
  padding: 10px 20px 0px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 100%;
  background-color: #6e7985;
}

.edit-questions .switch {
  padding-top: 13px;
}

.btn-letsGo {
  width: 70%;
  height: 15%;
  max-height: 60px;
  border-radius: 30px;
  padding: 1% 1%;
  margin-top: 20px;
}

.m-panel {
  margin-top: 5vh;
  height: 50vh;
  max-height: 60vh;
  min-height: 400px;
  width: 80vw;
  max-width: 400px;
  min-width: 200px;
  border-radius: 30px;
}

.m-gradient {
  background-image: linear-gradient(134deg, #6f8ebd 54%, #a07ccb 100%);
  /* background-image: linear-gradient(134deg, #222222 54%, #333333 100%); */
}

.m-shadow {
  box-shadow: 0 20px 100px 2px rgba(83, 153, 181, 0.4);
}

.m-panel .m-header {
  position: absolute;
  top: 0%;
  height: 30%;
  width: 100%;
  border-bottom: 1px solid white;
}

.m-title {
  position: absolute;
  font-size: 1.7em;
  font-weight: lighter;
  left: 10%;
  top: 10%;
  right: 10%;
}

.m-title-text {
  overflow: scroll;
  max-height: 2.4em;
  line-height: 1.2em;
  text-overflow: ellipsis;
}

.m-label {
  font-size: 0.5em;
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
}

.m-timer {
  position: absolute;
  left: 75%;
  right: 2%;
  top: 78%;
  width: 20%;
  min-width: 60px;
  opacity: 0.7;
}

.m-body {
  position: absolute;
  top: 30%;
  height: 45%;
  width: 100%;
}

.btn-join {
  position: absolute;
  left: 5%;
  top: 80%;
  width: 90%;
  height: 15%;
  max-height: 60px;
  border-radius: 30px;
  padding: 1% 1%;
}

.card .card-content {
  padding: 0px 0px 0px 0px;
}

.btn-text {
  position: relative;
  top: 25%;
  height: 1em;
  padding: -10px;
}

.m-main {
  left: 2vw;
  margin-top: 5vh;
  min-height: 80vh;
  width: 96vw;
  min-width: 200px;
  border-radius: 30px;
  padding: 10px 0px 10px 0px;
}

.m-main .m-header {
  position: absolute;
  top: 0%;
  font-size: 116%;
  height: 130px;
  width: 100%;
  border-bottom: 1px solid #edebeb;
}

.m-feedback {
  color: white;
}

.m-ghost {
  margin-top: 125px;
  height: 0px;
}

.m-list {
  padding-top: 1px;
}

.m-listItem {
  border-bottom: 1px solid #edebeb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.m-listItem .row {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.m-info {
  padding-left: 0px !important;
}

.m-avatar img {
  position: relative;
  left: 10%;
  width: 80%;
  max-width: 150px;
}

.m-name {
  font-size: 1.4em;
  font-weight: lighter;
}

.m-headline {
  font-size: 1em;
  font-weight: bold;
}

.m-bookmark {
  padding-left: 0px !important;
}

.m-view {
  border-radius: 30px;
  border: 1px solid #edebeb;
  padding-left: 5px;
  padding-right: 5px;
}

.m-view img {
  position: relative;
  top: 3px;
  height: 16px;
}
