.gradient-2 {
  background-image: linear-gradient(
    150deg,
    #ffffff 64%,
    #dddddd 120%
  ) !important;
}

.gradient-1 {
  /* background-image: linear-gradient(
    144deg,
    #6f8ebd 54%,
    #a07ccb 110%
  ) !important; */

  background-image: linear-gradient(135deg, #7392b7 0%, #8ab7d4 100%);
}

.color-1 {
  background-color: #7392b7 !important;
}

.btn-1 {
  background-color: #7392b7 !important;
  color: white !important;
}

.color-1-text {
  color: #7392b7;
}

.color-4-text {
  color: #878f98 !important;
}

/* Tools */
.color-1-border {
  border: 1px solid #5d6987 !important;
}

.color-3-border {
  border: 1px solid #7392b7 !important;
}

.color-5-border {
  border: 1px solid #dddddd !important;
}

.opacity-1 {
  opacity: 0.15 !important;
}
