.gradient-1 {
  /* background-image: linear-gradient(135deg, #7392b7 0%, #8ab7d4 100%); */
  background-image: linear-gradient(135deg, #7392b7 0%, #8ab7d4 100%);
}

.gradient-2 {
  /* background-image: linear-gradient(300deg, #74ebd5 0%, #8fc3e0 100%); */
  /* background-image: linear-gradient(110deg, #74ebd5 0%, #9face6 100%); */
  /* background: #7ddfd9; */
  /* Rectangle 25: */
  /* background-image: linear-gradient(-44deg, #7ae4d7 0%, #85d5db 100%); */
  /* Rectangle 25: */
  background-image: linear-gradient(312deg, #74ebd5 0%, #8fc3e0 80%);
}

.gradient-3 {
  background-image: linear-gradient(-180deg, #505a79 0%, #454e6b 100%);
}

.shadow-2 {
  /* box-shadow: 0 5px 40px 15px rgba(179, 243, 236, 0.66); */
  /* box-shadow: 0 2px 30px 20 rgba(123, 226, 216, 0.72); */
  /* box-shadow: 0 2px 30px 10px rgba(125, 223, 217, 0.61); */
  box-shadow: 0 2px 30px 10px rgba(123, 226, 216, 0.52);
}

.color-1 {
  background-color: #7392b7 !important;
}

.color-2 {
  background-color: #88b4d2 !important;
}

.color-3 {
  background-color: #e1e3e7 !important;
}

.color-4 {
  background-color: #454e6b !important;
}

.color-5 {
  background-color: #fcfcfc;
}

.color-6 {
  background-color: #374161;
}

.color-7 {
  background-color: #84f7f0 !important;
}

.color-8 {
  background-color: #8cc7df !important;
}

.color-9 {
  background-color: #cafefa !important;
}

.color-10 {
  background-color: #51a9c2 !important;
}

.color-11 {
  background-color: #f2f3f5 !important;
}

.color-12 {
  background-color: #636c88 !important;
}

.color-13 {
  background-color: #74ebd5 !important;
}

.btn-1 {
  background-color: #7392b7 !important;
  color: white !important;
}

.color-1-text {
  color: #9face6;
}

.color-2-text {
  color: #74ebd5 !important;
}

.color-3-text {
  color: #a7b1c9;
}

.color-4-text {
  color: #878f98 !important;
}

.color-5-text {
  color: #454e6b !important;
}

.color-6-text {
  color: #54b1ac !important;
}

.color-7-text {
  color: #5c8d8a !important;
}

.color-8-text {
  color: #8cc7df !important;
}

.color-9-text {
  color: #6ab2ae !important;
}

.color-10-text {
  color: #92eae4 !important;
}

.color-10-text-lighten {
  color: #b6f8ec !important;
}

.color-11-text {
  color: #408d88 !important;
}

.color-12-text {
  color: #636c88 !important;
}

.color-13-text {
  color: #74ebd5 !important;
}

.color-1-border {
  border: 1px solid #5d6987 !important;
}

.color-2-border {
  border: 1px solid #eeeeee !important;
}

.color-3-border {
  border: 1px solid #7392b7 !important;
}

.color-4-border {
  border: 1px solid #ffffff !important;
}

.color-5-border {
  border: 1px solid #dddddd !important;
}

.color-8-border {
  border: 1px solid #8cc7df !important;
}

.color-13-border {
  border: 1px solid #74ebd5 !important;
}
