.m-feedback-trigger {
  padding-left: 22px;
  margin-bottom: 0px !important;
}

.feedback-trigger-btn {
  height: 20px !important;
  font-size: 0.8em;
  overflow: hidden;
  width: 200px !important;
  line-height: 20px !important;
}

.feedback-star {
  font-size: 1.5em;
  margin-top: 2px;
  margin-left: 0px !important;
}

.m-feedback-trigger .col {
  height: 3em;
  line-height: 3em;
  border-radius: 30px;
  margin-bottom: 10px;
}

.m-feedback-trigger .col p {
  font-size: 1em;
}

.m-feedback-modal {
  border-radius: 30px;
  background-color: white;
}

.m-feedback-footer {
}

.m-feedback-button {
  border-radius: 10px;
}

.m-feedback-title {
  font-size: 2em;
}

.m-feedback-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-feedback-type {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.m-feedback-textarea {
}

.m-feedback-star {
}
