.m-feedback-trigger {
  margin-bottom: 0px !important;
  height: 30px;
  line-height: 30px;
}

.m-feedback-modal {
  border-radius: 30px;
  background-color: white;
}

.m-feedback-footer {
}

.m-feedback-button {
  border-radius: 10px;
}

.m-feedback-title {
  font-size: 2em;
}

.m-feedback-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-feedback-type {
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.m-feedback-textarea {
}

.m-feedback-star {
}
