body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fcfcfc;
}

.app section {
  min-height: 95vh;
}

footer {
  padding-top: 2.5vh;
  background-color: #9e9e9e !important;
  height: 12vh;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #74a8bd !important;
}
.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #8cc7df !important;
}

.input-field input[type="text"].valid {
  border-bottom: 1px solid #8cc7df !important;
  box-shadow: 0 1px 0 0 #000;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #8cc7df !important;
  box-shadow: 0 1px 0 0 #000;
}
