body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn {
  background-color: #5d6987;
  color: white;
}

.btn-large {
  background-color: #5d6987;
  color: white;
}

section {
  min-height: 95vh;
}

footer {
  background-color: #dddddd !important;
  height: 10vh;
}

.switch label input[type='checkbox']:checked + .lever {
  background-color: #7392b7 !important;
}
.switch label input[type='checkbox']:checked + .lever:after {
  background-color: #90b5e0 !important;
}

.input-field input[type='text'].valid {
  border-bottom: 1px solid #7392b7 !important;
  box-shadow: 0 1px 0 0 #000;
}

/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid #7392b7 !important;
  box-shadow: 0 1px 0 0 #000;
}
