.m-labels {
  padding-left: 5px !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.label {
  border-radius: 20px;
  padding: 0px 10px 20px 10px;
  display: flex;
  font-size: 1em;
  line-height: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.label img {
  position: relative;
  top: 1px;
  height: 18px;
}

.horizontal-menu {
  padding-left: 10px;
  padding-top: 5px;
  height: 40px;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 5px;
}

.horizontal-menu .label {
  display: inline-block !important;
}
