@media screen and (min-width: 601px) {
  .tagline p {
    font-size: 40px;
  }

  .tagline {
    margin-top: 15vh;
    height: 20em;
  }

  .tagline-text {
    padding-top: 4em !important;
  }
}

@media screen and (max-width: 601px) {
  .tagline p {
    font-size: 6vw;
  }
  .tagline {
    margin-top: 10vh;
    height: 20em;
  }

  .tagline-img {
    margin-top: 2vh;
  }
}

.tagline-img {
  height: 100%;
  padding: 0px 0px 0px 0px !important;
}

.tagline-img img {
  height: 100%;
}

.tagline-text .row {
  margin: 0px 0px 0px 0px !important;
  /* padding: 0px 0px 0px 0px !important; */
}

.typing {
  padding: 0px 0px 0px 0px !important;
  max-height: 6vw;
}

.t3 p {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
}

.t1 p {
  margin-bottom: 0px !important;
}

.whatsMesh {
  position: relative;
}

.cityImg {
  position: relative;
  top: 10vh !important;
  left: 20%;
  width: 80%;
}

.eventDetails {
  position: absolute;
  left: 73% !important;
  top: 10vh;
  height: 10%;
  width: 20% !important;
  padding: 0px 0px 0px 0px !important;
}

.eventDetails img {
  position: relative;
  width: 100%;
}

.hiringImg {
  margin-top: -18%;
}

.lookingImg {
  margin-top: -18%;
}

.whatsMesh .text {
  position: absolute;
  width: 30vw;
}

.userBenefits {
  position: relative;
  z-index: 1;
}

.illustration {
  position: relative;
  height: 80vh;
}

.userBenefits .text {
  position: relative;
  padding-left: 3vw;
  top: 8vh;
}

.userBenefits .text div {
  border-radius: 20px;
  min-height: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.iphoneBlur {
  position: absolute;
  left: 15%;
}

.people img {
  position: absolute;
  height: 10vh;
}

.person1 {
  top: 25%;
  left: 6vw;
}

.person2 {
  top: 45%;
  left: 30vw;
}
.person3 {
  top: 65%;
  left: 4vw;
}
.person4 {
  top: 85%;
  left: 30vw;
}

.orgBenefits {
  position: relative;
  z-index: 0;
}

.orgBenefits .title-text {
  margin-top: 13vh;
}

.orgBenefits .col {
  position: relative;
}

.orgStats {
  width: 40vw;
  margin-top: 5vh;
}

.feedback1 {
  position: absolute;
  left: -5vw;
  top: 3vh;
  width: 15vw;
}

.feedback2 {
  position: absolute;
  left: 33vw;
  top: 35vh;
  width: 15vw;
}

.card-1 {
  border-radius: 20px;
  width: 90% !important;
  margin-left: 5%;
  margin-right: 5%;
  height: 52vh;
}

.card-1 .title {
  border-bottom: 1px solid #fcfcfc;
  height: 10vh;
  line-height: 2.4vw;
}

.title img {
  margin-top: 2vh;
  width: 70%;
  margin-left: 1vw;
}

.title p {
  padding-left: 10px;
}

.card-1 .row {
  padding: 10px !important;
  margin: 0px !important;
}

.card-1 .col {
  min-height: 7vh;
  padding: 0px !important;
  margin: 0px !important;
}

.howItWorks .ghost {
  width: 12.5vw;
}

.card-1 .img {
  height: 28vh;
}

.card-1 .img img {
  width: 100%;
}

.iphoneUpper {
  width: 70% !important;
  margin-top: 6vh;
}

.signinMeetup {
  margin-top: 5vh;
}

.card-1 .text {
  border-top: 1px solid #fcfcfc;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.contactUs {
  position: relative;
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
}

.contactUs .bg {
  position: absolute;
  width: 110%;
  top: -30px;
  left: -5px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.contactUs .text {
  position: relative;
  z-index: 1;
}

.contactUs .call div {
  border-radius: 40px !important;
  height: 6vh;
  line-height: 6vh;
  width: 20vw !important;
  margin-top: 5%;
}
