.section-root {
  min-height: 90vh;
}

.section-about {
  height: 100vh;
  padding-left: 60px;
}

.row-divider {
  margin: 0px;
}

.sidenav-list {
  padding-top: 10px;
  margin-top: 10px;
}

footer {
}
