.card .card-content {
  padding: 0px 0px 0px 0px;
}

.btn-text {
  position: relative;
  top: 25%;
  height: 1em;
  padding: -10px;
}

.list-wrapper {
  margin-top: -5px !important;
}

.m-main {
  position: relative;
  top: 48px;
  left: 1vw;
  min-height: 80vh;
  width: 98vw;
  min-width: 200px;
  border-radius: 20px;
}

.sort-options {
  position: fixed;
  z-index: 5;
  width: 100vw;
  padding-top: 3vw;
}

.combinedHeader {
  font-size: 4vw;
}

.m-main .m-header {
  position: relative;
  height: 130px;
  width: 100%;
  /* background-image: linear-gradient(-179deg, #5e6886 0%, #7b8196 100%); */
  border-bottom: 1px solid #dddddd;
}

.m-main .m-title {
}

.m-ghost {
  height: 0px;
}

.m-list {
  width: 100%;
  margin-left: -1%;
}

.m-listItem {
  padding: 4vw 2vw 4vw 2vw;
  width: 100vw !important;
  margin-bottom: 5vw;
  border-bottom: 1px solid #eeeeee;
}

.m-listItem .row {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.m-listItem .label {
  font-size: 4vw;
  margin-right: 2vw;
  margin-top: 2vw;
  height: 7vw;
  line-height: 7vw;
}

.m-listItem .label img {
  margin-top: 1vw;
}

.m-listItem .label span {
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.m-listItem .info {
  font-weight: 500;
}

.m-info {
  padding-left: 10px !important;
}

.m-avatar {
  padding: 0vw 0 2vw 2vw !important;
}

.m-avatar img {
  position: relative;
  width: 95%;
  max-width: 150px;
}

.m-name {
  font-size: 5.4vw;
  font-weight: lighter;
}

.m-headline {
  font-size: 5.4vw;
}

.m-bookmark {
  padding-left: 0px !important;
}
