nav .create {
  border-radius: 30px;
}

.about-bg {
  position: fixed;
  top: 0px;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
}
.about .row {
  z-index: 10;
}

.about img {
  max-width: 100%;
}

.font-small {
  font-size: 2em;
  max-height: 60vh;
  max-width: 90%;
}

.font-medium {
  padding-top: 15vh;
  font-size: 3em;
  max-height: 75vh;
  max-width: 90%;
}

.font-large {
  padding-top: 20vh;
  font-size: 3em;
  max-height: 75vh;
}

p.font-small {
  padding-top: 10vh;
  margin-left: 5%;
}

p.font-medium {
  margin-left: 5%;
}

p.font-large {
  max-width: 70%;
  margin-left: 25%;
}

iframe {
  margin-top: 5vh;
  height: 80vh;
  width: 80vw;
  background-color: white;
}
